.editor {
    /* General styles for the editor container */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .ql-editor {
    /* Styles for the editable content area */
    font-family: Arial, sans-serif;
    font-size: 16px;
    min-height: 200px;
  }
  
  .ql-toolbar {
    /* Styles for the toolbar */
    border: none;
    padding: 0;
  }
  
  .ql-toolbar button {
    /* Styles for toolbar buttons */
    border: none;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .ql-toolbar button:hover {
    /* Styles for toolbar buttons on hover */
    background-color: #e0e0e0;
  }
  
.invisible-editor .ql-container {
  border: none;
}

.invisible-editor .ql-editor {
  border: none;
}

.randomParagraphButton {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  margin-bottom: 20px; /* Add some space below the button */
}

.randomParagraphButton button {
  margin: 10px; /* Adds space around the buttons */
  padding: 10px; /* Adds padding inside the buttons */
  font-size: 1em; /* Sets the font size */
  border: 2px solid white; /* Adds a solid border with the desired color */
  border-radius: 50%; /* Makes the button a circle */
  background-color: rgba(255, 255, 255, 0); /* Sets the background color to transparent */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  width: 50px; /* Sets a fixed width for the button */
  height: 50px; /* Sets a fixed height for the button */
  display: flex; /* Centers the text inside the circle */
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
}

/* Styles for the button when hovered */
.randomParagraphButton button:hover {
  background-color: rgba(67, 67, 67, 0.238); /* Changes the background color on hover */
  color: white; /* Changes the text color on hover */
}