/* Styles for the main container of the homepage */
.homepageContainer {
    padding: 20px; /* Adds padding inside the container */
    /* background-color: #f8f9fa4d; Light background color */
    text-align: center; /* Centers the text inside the container */
}

/* Styles for the main heading inside the homepage container */
.homepageContainer h1 {
    color: #333; /* Sets the text color */
    font-size: 2.5em; /* Sets the font size */
    margin-bottom: 20px; /* Adds space below the heading */
    margin-left: auto; /* Centers the heading horizontally */
    margin-right: auto; /* Centers the heading horizontally */
}

/* Styles for the alert box inside the homepage container */
.homepageContainer .alert {
    margin: 20px 0; /* Adds vertical margin to the alert box */
}

/* Styles for the paragraph inside the homepage container */
.homepageContainer p {
    font-size: 1.2em; /* Sets the font size */
    margin-bottom: 20px; /* Adds space below the paragraph */
}

.createSubtitle {
    font-size: 1.5em; /* Sets the font size */
    margin: 0px; /* Removes margin */
}