/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-color: black;
    color: white;
    margin-top: 60px; /* Adjust this value based on the height of your navbar */
  }
  